
/* *{
    border: 1px dotted gold !important; 
} */

h1 {
    font-size: 4em;
    color: white;
}

#label-zip {
    color: lightgrey;
}

.fa-utensils {
    color: black;
    font-size: 3em;
  }

.logo {
    color: black;
}

.jumbotron {
    height: 80vh;
    min-height: 500px;
    background-image: 
    linear-gradient(to right, rgba(0,0,0,.75), rgba(0,0,0,0)),
    url('../images/background_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
}

.btn, .sale,  .sale-mobile{
    color: white;
    background-color: rgb(255, 150, 60);
}

.sale, .sale-mobile {
    padding: 2.5em;
    font-weight: bold;
    font-size: 1.02;
    width: 165px;
}

.sale-mobile {
    display: none;
}

#text-splash {
    text-shadow: 1px 1px black;
}

@media (max-width: 1024px) { 

    .jumbotron{
        height: 70vh;
    }

 }

@media only screen and (max-width: 768px) {
    h1{
        font-size: 3rem;
    }

    .jumbotron{
        height: 70vh;
    }

    .sale {
        margin-top: 1em;
    }

    #text-splash {
        margin-top: 1em;
    }
}

@media (max-width: 575.98px) { 

    .jumbotron{
        height: 50vh;
    }

    .sale {
        display: none;
    }

    .sale-mobile {
        display: block;
    }
 }

 @media (max-width: 375px) { 

    h1 {
        font-size: 2.75em;
    }
    
    .jumbotron{
        height: 100vh;
    }

    .sale {
        display: none;
    }

    .sale-mobile {
        display: block;
    }

 }
